body{
  display: flex;
  flex-direction: column;
  
}


/*loguin*/

.logo-title{
  font-size: 15rem;
}
.logo-description{
  font-size: 300%;
}
.form{
  width: 100%;
}
.login-button{
  height: 35px;
  font-size: 2rem;
}

/*Register*/
.logo-title-register{
  font-size: 5rem;
}
.form-container-register {
  justify-content: flex-start;
  width: 40%;
  height: 600px;
  align-items: center;
  margin: 4% 30%;
  border: var(--very-light-blue) 2px solid;
  position: relative;
  background-color: #fff;
  border-radius: 20px;
}
.form-container-register::after{
  position: absolute;
  content: '';/*para que el navegador lo considere seudo-elem*/
  background: linear-gradient(to right, #c4d7e0d6, #6e85b7d6);
  width: 100%;
  height: 100%;
  filter: blur(15px);
  z-index: -1;
} 
.title-register{
  font-size: 450%;
  color: #737373;
}
.description{
  font-size: 300%;
  color: #737373;
}
.input{
  width: 100%;
  height: 50px;
}
.register-button{
  width: 100%;
  height: 35px;
  font-size: 200%;
}
.login-register-text{
  font-size: 200%;
}
.link{
  color: #33C7CA;
  font-size: 120%;
  
}