:root {
  --white: #ffffff;
  --black: #000000;
  --very-light-blue: rgba(196, 215, 224, 0.84);
  --text-input-field: #f7f7f7;
  --hard-purple: rgba(110, 133, 183, 0.84);
  --small: 1.4rem;
  --medium: 1.6rem;
  --large: 1.8rem;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
    font-size: 62.5%;
}

body {
  font-family: "Quicksand", sans-serif;
  margin: 0;
}

.logo-circle {
    width: 137px;
    height: 141px;
    background: #F8F9D7;
    border-radius: 50%;
}

.login {
  width: 100%;
  height: 100vh;
  /* Para centrar el contenido vertical y horizontalmente*/
  display: grid;
  place-items: center;
}

.form-container {
  display: grid;
  grid-template-rows: auto 1fr auto; /*con auto toma el tamaño que desea*/
  width: 194px;
  height: 150px;
}

/* .logo {
  width: 150px;
  margin-bottom: 48px;
  justify-self: center;
  display: none; /* para que no aparezca en la parte desktop y sí en mobile */
/*} */

.title {
  font-size: var(--lg);
  margin-bottom: 36px;
  text-align: start;
}

/* .subtitle {
  color: var(--very-light-pink);
  font-size: var(--md);
  font-weight: 300;
  margin-top: 0;
  margin-bottom: 32px;
  text-align: center;
} */

/* .label {
  font-size: var(--small);
  font-weight: bold;
  margin-bottom: 4px;
} */

.input {
  width: 194px;
  height: 43px;
  background-color: var(--very-light-blue);
  border: none;
  border-radius: 8px;
  font-size: var(--medium);
  padding: 6px;
}

.input-name,
.input-email,
.input-password {
  margin-bottom: 22px;
}

.form {
  display: flex;
  flex-direction: column;
  margin-bottom: 12px;
}

.form div {
  display: flex;
  flex-direction: column;
}

.primary-button {
  background-color: var(--hard-purple);
  border-radius: 8px;
  border: none;
  color: var(--white);
  width: 126px;
  height: 25px;
  cursor: pointer;
  font-size: var(--medium);
  font-weight: bold;
  margin: 0 auto;
}

.login-button {
  color: rgba(0, 0, 0, 1);
  margin-top: 14px;
  margin-bottom: 30px;
}
 