:root {
  --white: #ffffff;
  --black: #000000;
  --very-light-blue: #c4d7e0d6;
  --pale-logo: #f8f9d7;
  --hard-purple: #6e85b7d6;
  --light-gray: #D6CECE;
  --small: 1.4rem;
  --medium: 1.6rem;
  --large: 1.8rem;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  font-size: 62.5%; /* para que 1rem sean 10px */
}

body {
  /* font-family: "Barlow", sans-serif;
  font-family: "Oswald", sans-serif; */
  font-family: 'Averia Serif Libre', cursive;
  font-family: 'Roboto', sans-serif;
}

a {
  text-decoration: none;
}

/*Login container */
.login {
  display: flex;
  flex-direction: column;
  place-items: center;
}

.logo-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 12px 0;
}

.logo-title {
  font-family: "Barlow", sans-serif;
  font-family: "Oswald", sans-serif;
  color: var(--hard-purple);
  font-size: 5rem;
  font-weight: 600;
}

.logo-circle {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 137px;
  height: 141px;
  background: var(--pale-logo);
  border-radius: 50%;
  margin: 10px 0;
}

.logo {
  width: 130px;
  height: 131px;
}

.description {
  margin-bottom: 25px;
}
.photoCerrarSesion{
  width: 100%;
}
.logo-description,
.description {
  font-weight: 500;
  font-size: var(--large);
  text-align: center;
}

.input {
  width: 80%;
  height: 43px;
  background-color: var(--very-light-blue);
  border: none;
  border-radius: 8px;
  font-size: var(--medium);
  padding: 6px;
}

.input-name,
.input-email,
.input-password {
  margin-bottom: 22px;
}

/*IMPUT CONTAINER */

.form-container{
  background-color: var(--white);
  position: relative;
  width: 90%;
  max-width: 400px;
  min-width: 250px;
  height: 90%;
  align-items: center;
  justify-content: center;
  padding: 0 5%;
  border-radius: 20px;
  margin: 5%;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* --- B O T O N ---- G M A I L */
.icon-container {
  display: flex;
  justify-content: center;
}

.gmailButton {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 36px;
  font-size: var(--small);
  color: #233052;
  background-color: #fff;
  border: none;
  cursor: pointer;
  margin-top: 15px;
}

.gmailButton img {
  width: 20px;
  height: 20px;
  margin-right: 9px;
}

.gmail-icon {
  margin-bottom: 5px;
}

/* REGISTER*/

.login-register-text {
  font-weight: 300;
  font-size: var(--small);
  text-align: center;
  margin: 5px 0;
}

.title-register {
  font-size: var(--large);
  text-align: center;
  padding-top: 10px;
}

.form div {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.primary-button {
  background-color: var(--hard-purple);
  border-radius: 8px;
  border: none;
  color: var(--white);
  width: 126px;
  height: 25px;
  cursor: pointer;
  font-size: var(--medium);
  font-weight: bold;
  margin: 0 auto;
}

.primary-button:hover {
  border: 1px solid #c6c6c6;
  box-shadow: 0px 1px 1px rgba(0,0,0,0.1);
  color: #222;
  background-color: #f8f8f8;
  cursor: pointer;
}

.login-button {
  color: rgba(0, 0, 0, 1);
}

.logo-container-register {
  height: 60px;
  flex-direction: row;
  margin: 0;
}

.logo-circle-register {
  width: 50px;
  height: 50px;
  margin: 0 10px;
}

.logo-img-register {
  width: 50px;
  height: 50px;
}

.logo-title-register {
  font-size: 2.5rem;
}

/* BOTONES */
input {
  border: none;
}

.icon-gmail,
.icon-github{
  background-color: var(--white);
  border: none;
}

/* HEADER HOME */
nav {
  display: flex;
  justify-content: space-between;
  width: 100%;
  /* padding: 0 24px; */
  border-bottom: 1px solid var(--light-gray);
}

.logo-container-home {
  display: flex;
}

.logo-home {
  width: 35px;
  height: 35px;
  margin: 8px;
}

.logo-home-title {
  font-size: var(--large);
  color: var(--hard-purple);
  font-weight: 500;
  margin-top: 8px;
}

.navbar-right {
  width: 45px;
  height: 45px;
  margin: 5px;
  border: 1px solid black;
  border-radius: 50%;
}

.navbar-left ul,
.navbar-right ul {
  list-style: none;
  display: flex;
  align-items: center;
}

/* HOME POSTING SECTION */
.section-post {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50%;
  margin: 0 auto;
  border: 1px solid #22222214;
  margin-top: 5px;
}

#task-description {
  width: 90%;
  height: 150px;
  border: none;
  margin-bottom: 10px;
  outline: none;
  resize: none;
  padding: 25px;
  font-family: 'Averia Serif Libre', cursive;
  font-family: 'Roboto', sans-serif;
  font-size: var(--medium);
}

.div-button-post {
  display: flex;
  width: 100%;
  margin-left: 60%;
  margin-bottom: 15px;
}

.btn-task-save {
  border: 1px solid #c6c6c6;
  box-shadow: 0px 1px 1px rgba(0,0,0,0.1);
  color: #222;
  background-color: #f8f8f8;
  cursor: pointer;
  /* background-color: var(--very-light-blue); */
  border-radius: 8px;
  width: 30%;
  height: 3rem;
  cursor: pointer;
  font-size: var(--medium);
  font-weight: bold;
  margin: 0 auto;
}

/* POST HOME */
/* .home-container {
  position: relative;
  height: 100%;
} */

/* publicación  */
.tweet-container {
  width: 90%;
  height: auto;
  border: solid 1px var(--light-gray);
  border-top: none;
  padding: 5px;
  margin: 0 auto;
  margin-top: 20px;
  position: relative;
  background-color: #fff;
}

.tweet-photo {
  display: flex;
  
}

.containerP{
  display: flex;
  align-items: center;
  color: #aaaaaa;
}
.tweet-date{
  margin-left: 3%;
}

.tweet-photo img {
  width: 45px;
  height: 45px;
  border-radius: 50%;
  object-fit: contain;
  margin-right: 10px;
}

.name-btn-container {
  display: flex;
  flex-direction: column;
  margin-left: 10px;
}

.tweet-text {
  /* display: inline-block; */
  font-size: var(--medium);
  text-decoration: none;
}

.name {
  color: var(--black);
  font-weight: 500;
  font-size: 2rem;
  margin-right: 10px;
}

.text-content {
  height: 100px;
  margin: 5px;
}

.text {
  /* display: block; */
  font-size: var(--medium);
  margin: 10px 10px 25px 10px;
  text-align: justify;
  line-height: 2.5rem;
}
.containerIcons{
  display: flex;
  /* justify-content: space-around; */
}
.heart-icon {
  width: 16px;
  height: 16px;
  margin: 10px;
  cursor: pointer;
}
.bi-pencil-square{
  cursor: pointer;
}
.bi-trash3{
  cursor: pointer;
}
.tweet-icons {
  display: flex;
  justify-content: space-evenly;
  width: 50%;
  align-items: center;
  flex-direction: row;
}
/* contenedor like y contador*/
.containerLike{
  display: flex;
  align-items: center;
}
.heartLike{
  border-right: 50px;
}
.tweet-icons span i {
  width: 30px;
  height: 30px;
}

.fi-rs-edit{
  width: 50px;
  height: 50px;
}

/* BOTÓN DE PUBLICAR */

.tweet-bottom {
  width: 50px;
  height: 50px;
  position: absolute;
  bottom: 65px;
  right: 10px;
  border: 1px solid var(--light-gray);
  border-radius: 50%;
  box-shadow: #000000;
}

/* Modal para editar post*/
/*CONTENENDOR DE TODO EL MODAL EDIT*/
.containerPostEdit {
  background-color: #ffffff;
  width: 80%;
  height: 40%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 15px;
  position: relative;
  flex-direction: column;
}

/*CABEZARA DEL MODAL EDIT*/
.headerPostEdit {
  display: flex;
  width: 90%;
  height: 10%;
  border-bottom: solid 1px var(--light-gray);
}

.headerpost {
  width: 250px;
  font-size: 16px;
  text-align: center;
}

.close {
  display: flex;
}

.photoEdit {
  display: flex;
  justify-content: flex-start;
}

#editModal {
  display: none;
  position: fixed;
  top: 0px;
  width: 100vw;
  height: 100vh;
  justify-content: center;
  align-items: center;
  background-color: rgba(243, 240, 240, 0.473);
}

/*tratando de hacer scroll en la barra*/
.postEdition {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.containerTextarea {
  margin: 5px;
  width: 90%;
  height: 150px;
  border: 1px solid #222;
  border-radius: 10px;
  font-size: 16px;
}

.postDescription {
  background-color: #ffffff;
  width: 90%;
  height: 90%;
  margin: 5px;
  border: none;
  outline: none;
  resize: none;
}

/* FOOTER HOME */
footer {
  width: 100vw;
  height: 56px;
  position: fixed;
  bottom: 0;
  border-top: 1px solid var(--light-gray);
  padding-top: 15px;
  background-color: #ffffff;
}

.footer-container {
  display: flex;
  justify-content: space-evenly;
}


.containerButton{
  display: flex;
  justify-content: space-around;
  padding: 5%;
  width: 50%;
}

.btn-like{
  background: url('./imagens/heart.png');
  border:none;
  cursor:pointer;
  background-color: blue;
}

.full-heart{
  background: url('./imagens/full-heart.png');

}

