.login {
  /* Para centrar el contenido vertical y horizontalmente*/
  flex-direction: row;
}

.logo-container {
  width: 100%;
  align-items: center;
  margin: 10% 0;
}

.form-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: 400px;
  align-items: center;
  margin-right: 10%;
}

.logo-title {
  font-size: 8rem;
}

.logo-circle {
  width: 160px;
  height: 160px;
  background: var(--pale-logo);
  border-radius: 50%;
  margin: 25px 0;
}

.logo {
  width: 150px;
  height: 150px;
}

.logo-description,
.description {
  font-weight: 600;
  font-size: 2.0rem;
}

.input {
  width: 250px;
  height: 40px;
  background-color: var(--very-light-blue);
  border: none;
  border-radius: 8px;
  font-size: var(--medium);
  padding: 6px;
}

.login-register-text {
  font-weight: 300;
  font-size: var(--medium);
  margin-top: 10%;
}

.form-container-register {
  margin: 5% 35%;
}

.logo-container-register {
  height: 60px;
  flex-direction: row;
  margin: 0;
}

.logo-circle-register {
  width: 50px;
  height: 50px;
  margin: 0 10px;
}

.logo-img-register {
  width: 50px;
  height: 50px;
}

.logo-title-register {
  font-size: 2.5rem;
}/*HOME*/
.home-container {
  display: flex;
  width: 100%;
  height: 100%;
}

/*Barra lateral de menú*/
.lateral-menu-container {
  width: 35%;
  border-right: 1px solid #d6cece;
}

/* Contenedor de publicaciones */
.posts-container {
  width: 65%;
  height: 100%;
}

.section-post {
  width: 70%;
}
/*Modal -edith*/

.containerPostEdit {
  background-color: #e96666;
  width: 300px;
  height: 30%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 15px;
  position: relative;
  flex-direction: column;
}
/*edit modales*/
#editModal {
  display: none;
  width: 700px;
}
/* HOME POSTS */

/* .tweet-container {
  width: 80%;
} */
/* FOOTER HOME */
