/* body {
  background-color: aqua;
} */

.login {
  /* Para centrar el contenido vertical y horizontalmente*/
  flex-direction: row;
}

.logo-container {
  width: 100%;
  align-items: center;
  margin: 10% 0;
}

.form-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: 400px;
  align-items: center;
  margin-right: 10%;
}

.form-container::after{
  position: absolute;
  content: '';/para que el navegador lo considere seudo-elem/
  background: linear-gradient(to right, #c4d7e0d6, #6e85b7d6);
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
  filter: blur(10px);
  z-index: -1;
  border-radius: 20px;
}


.logo-title {
  font-size: 8rem;
}

.logo-circle {
  width: 160px;
  height: 160px;
  background: var(--pale-logo);
  border-radius: 50%;
  margin: 25px 0;
}

.logo {
  width: 150px;
  height: 150px;
}

.logo-description,
.description {
  font-weight: 600;
  font-size: 2.0rem;
}

.input {
  width: 250px;
  height: 40px;
  background-color: var(--very-light-blue);
  border: none;
  border-radius: 8px;
  font-size: var(--medium);
  padding: 6px;
}

.login-register-text {
  font-weight: 300;
  font-size: var(--medium);
  margin-top: 10%;
}

.form-container-register {
  margin: 5% 35%;
}

.logo-container-register {
  height: 60px;
  flex-direction: row;
  margin: 0;
}

.logo-circle-register {
  width: 50px;
  height: 50px;
  margin: 0 10px;
}

.logo-img-register {
  width: 50px;
  height: 50px;
}

.logo-title-register {
  font-size: 2.5rem;
}